<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add Event</title>
</head>
<body>
<form action='/vacancy/<vacancy_id>/events/' method="POST">
    <input type="text" name='event_date' placeholder='event_date'>
    <input type="text" name='title' placeholder='title'>
    <input type="text" name='description' placeholder='description'>
    <input type="text" name='due_to_date' placeholder='due_to_date'>
    <input type="number" name='vacancy_id' placeholder='vacancy_id'>
    <input type="submit" value="Add event">
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Event ID</th>
      <th scope="col">Vacancy ID</th>
      <th scope="col">Description</th>
      <th scope="col">Event_date</th>
      <th scope="col">Title</th>
      <th scope="col">Due_to_date</th>
      <th scope="col">Satus</th>
    </tr>
    </thead>
  <tbody>
      {{events|safe}}
  </tbody>
</table>
</body>
</html></html>
<html lang="en">
   <title></title>
</body>
</html>
