<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add Vacancy</title>
</head>
<body>
<form action='/vacancy/' method="POST">
                <input type="text" name="position_name" placeholder="position_name">
                <input type="text" name="company" placeholder="company">
                <input type="text" name="description" placeholder="description">
                <input type="text" name="contacts_ids" placeholder="contacts_ids">
                <input type="text" name="comment" placeholder="comment">
                <button type="submit" class="btn btn-primary">Create a new vacancy</button>
            </form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Vacancy ID</th>
      <th scope="col">Date of creation</th>
      <th scope="col">Status</th>
      <th scope="col">Company</th>
      <th scope="col">Contacts</th>
      <th scope="col">Description</th>
      <th scope="col">Position name</th>
      <th scope="col">Comment</th>
      <th scope="col">User ID</th>
    </tr>
    </thead>
  <tbody>
      {{vacancies|safe}}
  </tbody>
</table>
</body>
</html></html>
<html lang="en">
   <title></title>
</body>
</html>