<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edit Event</title>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script></head>
<body>
<script>
function makePUTrequest() { $.ajax({ url: '/vacancy/{{vacancy_id}}/events/{{event_id}}/',
type: 'PUT',  data: { event_date: document.getElementById('event_date').value,
title: document.getElementById('title').value,
description: document.getElementById('description').value,
due_to_date: document.getElementById('due_to_date').value,
status: document.getElementById('status').value},
success: function (result)
{
;
} }); }

function makeFormVisible(){
document.getElementById('edit_form').hidden = false;
document.getElementById('show_table').hidden = true;
document.getElementById('edit_button').hidden = true;
}
</script>


<br>
<form id="edit_form" hidden="hidden">
<div class="row mb-3">
                    <label for="event_date" class="col-sm-2 col-form-label">Event Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="event_date" id="event_date" value="{% autoescape false %}{{events[3]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" id="title" value="{% autoescape false %}{{events[4]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" id="description" value="{% autoescape false %}{{events[2]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="due_to_date" class="col-sm-2 col-form-label">Due to date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="due_to_date" id="due_to_date" value="{% autoescape false %}{{events[5]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="status" id="status" value="{% autoescape false %}{{events[6]}}{% endautoescape %}">
                    </div>
                </div>
<button onclick="makePUTrequest()"> Save changes </button>

</form>
<br>
<table class="table table-bordered" id="show_table">
  <thead>
    <tr>
      <th scope="col">Event ID</th>
      <th scope="col">Vacancy ID</th>
        <th scope="col">Description</th>
      <th scope="col">Event Date</th>
      <th scope="col">Title</th>
      <th scope="col">Due to date</th>
      <th scope="col">Status</th>
    </tr>

    </thead>
  <tbody>
    <tr>
        <td>{{events[0]}}</td>
        <td>{{events[1]}}</td>
        <td>{{events[2]}}</td>
        <td>{{events[3]}}</td>
        <td>{{events[4]}}</td>
        <td>{{events[5]}}</td>
        <td>{{events[6]}}</td>
            </tr>

 </tbody>
</table>
    <button onclick="makeFormVisible()" id="edit_button"> Edit event </button>

</body>
</html>