<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Edit Vacancy</title>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script></head>
<body>
<script>
function makePUTrequest() { $.ajax({ url: '/vacancy/{{vacancy_id}}/',
type: 'PUT',  data: { position_name: document.getElementById('position_name').value,
company: document.getElementById('company').value,
description: document.getElementById('description').value,
contacts_ids: document.getElementById('contacts_ids').value,
comment: document.getElementById('comment').value},
success: function (result)
{
alert(result);
} }); }

function makeFormVisible(){
document.getElementById('edit_form').hidden = false;
document.getElementById('show_table').hidden = true;
document.getElementById('edit_button').hidden = true;
}
</script>


<br>
<form id="edit_form" hidden="hidden">
<div class="row mb-3">
                    <label for="position_name" class="col-sm-2 col-form-label">Position name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="position_name" id="position_name" value="{% autoescape false %}{{all_fields[6]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="company" class="col-sm-2 col-form-label">Company</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="company" id="company" value="{% autoescape false %}{{all_fields[3]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" id="description" value="{% autoescape false %}{{all_fields[5]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="contacts_ids" class="col-sm-2 col-form-label">Contacts</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="contacts_ids" id="contacts_ids" value="{% autoescape false %}{{all_fields[4]}}{% endautoescape %}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="comment" class="col-sm-2 col-form-label">Comments</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="comment" id="comment" value="{% autoescape false %}{{all_fields[7]}}{% endautoescape %}">
                    </div>
                </div>
<button onclick="makePUTrequest()"> Save changes </button>

</form>
<br>
<table class="table table-bordered" id="show_table">
  <thead>
    <tr>
      <th scope="col">Vacancy ID</th>
      <th scope="col">Date of creation</th>
      <th scope="col">Status</th>
      <th scope="col">Company</th>
      <th scope="col">Contacts</th>
      <th scope="col">Description</th>
      <th scope="col">Position name</th>
      <th scope="col">Comment</th>
      <th scope="col">User ID</th>
    </tr>
</thead>
    <tr>
        {% for vacancy in vacancies %}
          <td>{{vacancy[0]}}</td>>
        <td>{{vacancy[1]}}</td>>
        <td>{{vacancy[2]}}</td>>
        <td>{{vacancy[3]}}</td>>
        <td>{{vacancy[4]}}</td>>
        <td>{{vacancy[5]}}</td>>
        <td>{{vacancy[6]}}</td>>
        <td>{{vacancy[7]}}</td>>
        <td>{{vacancy[8]}}</td>>
            </tr>
{% endfor %}
</table>
    <button onclick="makeFormVisible()" id="edit_button"> Edit vacancy </button>

</body>
</html>